block formcontent
h3 Fill the form
form(action="").form-control
  label(for='username') Username
  input(type='text', placeholder='username', name='username').form-group
  label(for="password") Password
  input(type="password", name='password').form-group
  button(type='submit')