extends layout.pug
block content
    .my-4.bg-primary.p-4.rounded
      h3
        a(href='/posts').text-dark View all posts
      p.text-white This page does not require any authorization so it is processed by application level middleware in the server.
    .my-4.bg-danger.p-4.rounded
      h3
        a(href='/auth/signup').text-light Sign Up page
      p.text-white This page requires authorization so it is processed by routing level middleware in the server.
    .my-4.bg-primary.p-4.rounded
      h3
        a(href='/reviews').text-dark See reviews
      p.text-white This page also does not require any authorization so it is processed by application level middleware in the server.
    .my-4.bg-danger.p-4.rounded
      h3
        a(href='/auth/login').text-light Login page
      p.text-white This page requires authorization so it is processed by routing level middleware in the server.

